body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
}

button {
    background-color: orange;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s opacity;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.95);
}